<div class="window-lg">
  <div class="window-lg__bar">
    <div class="icon">
      <img src="../../../../../assets/icons/briefcase.png" alt="">
    </div>
    <div class="header">
      Recent transactions
    </div>
  </div>
  <div class="window-lg__content">
    <div class="toolbar">
      <div class="toolbar__search">
        <mat-form-field class="example-form-field" floatLabel=never>
          <mat-label>Searching by typing...</mat-label>
          <input matInput type="text" [(ngModel)]="searchPhrase">
          <button mat-button *ngIf="searchPhrase" matSuffix mat-icon-button aria-label="Clear" (click)="searchPhrase=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="toolbar__filters">
        <span>Sort by</span>
        <mat-form-field class="example-full-width" appearance="fill" style="width:1px;visibility:hidden;">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="filter.date">
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>
        <button mat-stroked-button [class]="{'checked': filter.date}" (click)="selectDate(picker)">DATE <i class="arrow-down"></i></button>
        <button mat-stroked-button [class]="{'checked': filter.beneficiary}"
                (click)="setFilter('beneficiary')">BENEFICIARY</button>
        <button mat-stroked-button [class]="{'checked': filter.amount}"
                (click)="setFilter('amount')">AMOUNT</button>
      </div>
    </div>
    <div class="transaction__container">
      <div class="transaction__tile" *ngFor="let transaction of transactions | search: [searchPhrase, filter]">
        <div class="transaction__label" [ngStyle]="{'background': transaction.categoryCode}"></div>
        <div class="transaction__content">
          <div class="section-date">
            {{transaction.dates.valueDate | date : 'MMM d'}}
          </div>
          <div class="section-img">
            <img [src]="adjustImgPath(transaction.merchant.name)" alt="">
          </div>
          <div class="section-title">
            <div class="section-title-merchant">{{transaction.merchant.name}}</div>
            <div class="section-title-type">{{transaction.transaction.type}}</div>
          </div>
          <div class="section-amount">
            <span>{{'-' + transaction.transaction.amountCurrency.amount |
              currency : transaction.transaction.amountCurrency.currencyCode}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
