@import "colors";
@import "common";

.window-lg {
  font-family: 'Kanit-Light', sans-serif;
  background: white;
  max-width: 860px;
  height: 870px;
  margin: 20px 15px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);

  &__bar {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background: $barColor;
    height: 62px;
    padding: 0 20px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    position: relative;

    .icon {
      position: absolute;
      left: 20px;

      img {
        opacity: 0.8;
        width: 22px;
        height: 18px;
        cursor: pointer;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 23px 25px 18px;
    max-height: 732px;
    max-width: 100%;

  }

  .toolbar {
    min-height: 55px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;

    &__search {
      padding-left: 10px;
      padding-right: 15px;
      flex: 1;
      min-width: 300px;
      color: $middleFont;

      mat-form-field {
        width: 100%
      }
    }

    &__filters {
      display: flex;
      align-items: center;
      flex: 1;
      font-family: 'Kanit-Bold', sans-serif;
      color: $middleDarkFont;
      font-size: 12px;
      justify-content: flex-end;

      span {
        min-width: 50px;
      }

      button {
        font-family: 'Kanit-Regular', sans-serif;
        height: 30px;
        padding-left: 12px;
        padding-right: 12px;
        align-items: center;
        display: flex;
        justify-content: center;
        color: $middleDarkFont;
        border-radius: 0;

        &.checked {
          background: $superLightGrey
        }
      }
    }
  }


  .transaction {
    &__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      border-bottom: solid 2px $lightGrey;
      overflow: scroll;
    }

    &__tile {
      width: 100%;
      display: flex;
    }

    &__content {
      width: 100%;
      border-top: solid 2px $lightGrey;
      border-right: solid 2px $lightGrey;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 20px;
      padding-left: 25px;

      .section {
        &-img {
          width: 40px;
          height: 40px;
          text-align: start;
          margin: 0 4px;

          img {
            width: 100%;
          }
        }

        &-amount {
          font-family: 'Kanit-Bold', sans-serif;
          color: $middleDarkFont;
          text-align: end;
          width: 90px;
        }

        &-title {
          width: 200px;

          &-merchant {
            font-family: 'Kanit-Regular', sans-serif;
            color: $middleDarkFont;

          }

          &-type {
            color: $middleDarkFont;
            font-size: 14px;
          }
        }
      }
    }

    &__label {
      background-color: $orangeBtn;
      width: 10px;
      height: 68px;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 540px) {
  .window-lg {
    margin: 0;
  }
  .window-lg__content {
    padding-right: 0;
    padding-left: 0;
  }
}

