@import "colors";

.window-sm {
  font-family: 'Kanit-Light', sans-serif;
  background: white;
  width: 320px;
  height: 410px;
  margin: 20px 15px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);

  &__bar {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background: $barColor;
    height: 42px;
    padding: 0 20px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);

    .icon {
      flex: 1;

      img {
        opacity: 0.8;
        width: 22px;
        height: 17px;
        margin-top: 8px;
        cursor: pointer;
      }
    }

    .header {
      flex: 2;
    }
  }

  &__content {
    padding: 35px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 368px;
    font-size: 16px;

    span {
      font-family: 'Kanit-Bold', sans-serif;
      font-size: 12px;
      color: $darkFont;
    }

    button {
      margin: auto 0 0 auto;
      background-color: $orangeBtn;
      width: 200px;
      border-radius: 5px;
    }

    mat-form-field {
      font-family: 'Kanit-Light', sans-serif;
      color: $middleFont;
    }
  }

}

form {
  display: flex;
  flex-direction: column;
}


mat-label {
  font-family: 'Kanit-Bold', sans-serif;
  color: $darkFont;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

mat-form-field {
  margin-top: -15px;
}

::ng-deep.mat-form-field-disabled .mat-form-field-underline {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.42) 33%, #c2c7cc 0) !important;
  background-size: 1px 100% !important;
  background-repeat: repeat-x !important;
}

