<div class="window-sm">
  <div class="window-sm__bar">
    <div class="icon" (click)="resetForm()">
      <img src="assets/icons/arrows.png" alt="">
    </div>
    <div class="header">
      Make a transfer
    </div>
  </div>
  <div class="window-sm__content">
    <span>FROM ACCOUNT</span>
    <form>
      <mat-form-field>
        <input matInput [value]="currentAccountName + (currentBalance | number:'1.00')" [disabled]="true">
      </mat-form-field>
      <span>TO ACCOUNT</span>
      <mat-form-field floatLabel=never>
        <input type="text"
               aria-label="text"
               matInput
               [formControl]="merchantsFormControl"
               [matAutocomplete]="auto">
        <mat-error *ngIf="merchantsFormControl.hasError('required')">
          You have to select account from the list
        </mat-error>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let merchant of merchants" [value]="merchant">
            {{merchant}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <span>AMOUNT</span>
      <mat-form-field class="example-full-width" floatLabel=never>
        <input placeholder="€0.00" [min]="0" [step]="0.1" type="number" matInput [formControl]="amountFormControl">
        <mat-error *ngIf="!amountFormControl.hasError('required')">
          Please enter a valid amount
        </mat-error>
        <mat-error *ngIf="amountFormControl.hasError('max')">
          You don't have enough money
        </mat-error>
      </mat-form-field>
    </form>
    <button mat-flat-button color="primary" (click)="submit()">Submit</button>
  </div>
</div>

