@font-face {
  font-family: "Kanit-Light";
  src: url("../assets/fonts/kanit/Kanit-Light.ttf");
}

@font-face {
  font-family: "Kanit-Regular";
  src: local("Kanit"), url("../assets/fonts/kanit/Kanit-Regular.ttf");
}

@font-face {
  font-family: "Kanit-Bold";
  src: url("../assets/fonts/kanit/Kanit-Bold.ttf");
}
