.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $middleFont;
  margin: 3px!important;
  vertical-align: middle;
  display:inline-block;
}
