<div class="window-dialog">
  <div class="window-dialog__bar">
      <span>Confirm transfer data</span>
  </div>
  <div class="window-dialog__content">
    <div>
      <div class="label" style="">To account: </div>
      <strong>{{data.merchant}}</strong>
    </div>
    <div>
      <div class="label" style="">Amount: </div>
      <strong>{{data.amount+'€'}}</strong>
    </div>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button class="confirm-btn" mat-button [mat-dialog-close]="true">Confirm</button>
    </mat-dialog-actions>
  </div>
</div>


