@import "colors";

.window-dialog {
  font-family: 'Kanit-Light', sans-serif;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  width: 330px;
  height: 240px;

  &__bar {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background: $barColor;
    height: 42px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 16px;
    height: 158px;

    .label {
      display: inline-block;
      width: 150px;
    }

    .mat-dialog-actions{
      margin-top: auto;
    }
    .confirm-btn {
      background-color: $orangeBtn;
      color: white;
    }
  }
}

::ng-deep {
  &.mat-dialog-container {
    padding: 0 !important;
  }
}

