@import "colors";

.toolbar {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 3px solid $orangeLine;
  background-color: white;

  img {
    margin-left: 108px;
    max-width: 100%;
  }

  @media (max-width: 768px) {
    img {
      margin-left: 8px;
    }
  }
  @media (max-width: 460px) {
    img {
      margin-left: 0;
    }
  }
}

.content {
  flex-wrap: wrap;
  display: flex;
  min-height: 1000px;
  justify-content: center;
  padding-top: 45px;
}
