<div class="toolbar" role="banner">
  <img
    alt="Peachtree logo"
    src="assets/logo.jpg"
  />
</div>
<div class="content" role="main">
  <app-make-transfer (messageEvent)="receiveMessage($event)"></app-make-transfer>
  <app-recent-transactions [transactions]="transactions"></app-recent-transactions>
</div>
