@import "colors";
@import "fonts";

html, body {
  overflow-x:hidden
}

body {
  margin: 0;
  background-image: url("/assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
